apply from: '${baseBuildProjectDir}/src/main/resources/parsec.gradle'

buildscript{
    project.ext.set('parsecGradleVersion', '${parsecGradleVersion}')

}

parsec {
    useSmartMethodNames = true
}

repositories {
    mavenLocal()
}

dependencies {
}
